version: '3.8'

services:
  app:
    container_name: vo-tools
    image: vo-tools:latest
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "3010:3000"
    environment:
      - NODE_ENV=production